/* line 2, ../scss/_markup.scss */
tml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; outline: none; }

/* line 11, ../scss/_markup.scss */
html { height: 101%; }

/* line 13, ../scss/_markup.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 14, ../scss/_markup.scss */
ol, ul { list-style: none; }

/* line 16, ../scss/_markup.scss */
blockquote, q { quotes: none; }

/* line 17, ../scss/_markup.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 19, ../scss/_markup.scss */
input { outline: none; }

/* line 21, ../scss/_markup.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 22, ../scss/_markup.scss */
img { border: 0; max-width: 100%; }

/* line 24, ../scss/_markup.scss */
canvas { display: block; vertical-align: bottom; }

/* line 26, ../scss/_markup.scss */
a { text-decoration: none; }

/* line 29, ../scss/_markup.scss */
body { font-size: 62.5%; line-height: 1; font-family: 'Montserrat', Arial, Tahoma, Verdana, sans-serif; }

/* line 30, ../scss/_markup.scss */
strong { font-weight: bold; }

/* line 32, ../scss/_markup.scss */
h1, h2 { margin-bottom: 17px; }

/* line 33, ../scss/_markup.scss */
h1 { font-size: 24px; font-weight: 500; line-height: normal; letter-spacing: 0.1em; text-transform: uppercase; }

/* line 40, ../scss/_markup.scss */
p { font-size: 14px; font-weight: 300; line-height: normal; letter-spacing: 0.05em; color: #666666; }

/* line 48, ../scss/_markup.scss */
a.btn { display: inline-block; margin-top: 65px; padding: 12px 25px; font-size: 12px; letter-spacing: 0.1em; text-transform: uppercase; border-radius: 50px; box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25); transition: .3s; color: #FFFFFF; }
/* line 60, ../scss/_markup.scss */
a.gradient { background: linear-gradient(90deg, #F39A4A 0%, #F69173 100%); }

/* line 65, ../scss/_markup.scss */
buttom { display: inline-block; cursor: pointer; }
/* line 68, ../scss/_markup.scss */
buttom.btn { padding: 8px 6px 6px 5px; text-transform: uppercase; border-radius: 100%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); transition: .3s; background: #fff; }

/* line 78, ../scss/_markup.scss */
a:hover, buttom:hover { box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); }

/* line 80, ../scss/_markup.scss */
header { margin: 40px 95px; display: flex; justify-content: space-between; align-items: center; position: relative; z-index: 2; }
/* line 87, ../scss/_markup.scss */
header img { height: 24px; display: inline-block; vertical-align: -5px; }

/* line 95, ../scss/_markup.scss */
nav a { margin: 32px; font-size: 12px; letter-spacing: 0.05em; text-transform: uppercase; color: #000; }

/* line 104, ../scss/_markup.scss */
.logo p { display: inline-block; font-size: 18px; letter-spacing: 0.1em; text-transform: uppercase; color: #F39A4A; }

/* line 111, ../scss/_markup.scss */
.logo small { font-size: 12px; color: #F39A4A; }

/* line 116, ../scss/_markup.scss */
.orange { font-weight: 600; color: #F39A4A; }

/* line 121, ../scss/_markup.scss */
.no_attention { opacity: .7; }

/* line 126, ../scss/_markup.scss */
.particle-container { width: 100%; height: 800px; position: absolute; top: 0; overflow: hidden; z-index: 0; }
/* line 133, ../scss/_markup.scss */
.particle-container img { position: absolute; top: 25%; right: 15%; z-index: 2; }

/* line 140, ../scss/_markup.scss */
.particle-container-size { height: 600px; width: 1200px; border-radius: 100%; }

/* line 145, ../scss/_markup.scss */
.container { margin: 0; display: inline-block; position: absolute; top: 50px; left: 60%; }

/* line 152, ../scss/_markup.scss */
.particle-container-transformed { overflow: hidden; box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1); transform: rotate(-19.33deg); background: #f4f4f4; }

/* line 159, ../scss/_markup.scss */
#particles-js canvas { position: absolute; }

/* line 164, ../scss/_markup.scss */
.info-block { margin-top: 15%; margin-left: 10%; display: inline-block; position: relative; z-index: 2; }
