/* line 2, ../scss/_markup.scss */
tml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; outline: none; }

/* line 11, ../scss/_markup.scss */
html { height: 101%; }

/* always display scrollbars */
/* line 13, ../scss/_markup.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* line 14, ../scss/_markup.scss */
ol, ul { list-style: none; }

/* line 16, ../scss/_markup.scss */
blockquote, q { quotes: none; }

/* line 17, ../scss/_markup.scss */
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/* line 19, ../scss/_markup.scss */
input { outline: none; }

/* line 21, ../scss/_markup.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 22, ../scss/_markup.scss */
img { border: 0; max-width: 100%; }

/* line 24, ../scss/_markup.scss */
canvas { display: block; vertical-align: bottom; }

/* line 26, ../scss/_markup.scss */
a { text-decoration: none; }

/* line 30, ../scss/_markup.scss */
body { font-size: 62.5%; line-height: 1; font-family: 'Montserrat', Arial, Tahoma, Verdana, sans-serif; }

/* line 31, ../scss/_markup.scss */
strong { font-weight: bold; }

/* line 34, ../scss/_markup.scss */
.bgSvg1 { background-image: url(img/svg/bg_components/Vector1.svg); width: 500px; height: 500px; }

/* line 39, ../scss/_markup.scss */
.ab { position: absolute; top: 0; right: 0; }

/* line 45, ../scss/_markup.scss */
.c { height: 600px; width: 1200px; border-radius: 100%; }

/* line 50, ../scss/_markup.scss */
.container { position: absolute; display: inline-block; margin: 0; top: 50px; right: -400px; }

/* line 57, ../scss/_markup.scss */
.transformed { overflow: hidden; background: #f4f4f4; box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1); transform: rotate(-19.33deg); }

/* line 63, ../scss/_markup.scss */
.block { overflow: hidden; width: 100%; height: 800px; position: absolute; top: 0; z-index: -1; }

/* line 72, ../scss/_markup.scss */
#particles-js canvas { position: absolute; z-index: -2; }

/* line 77, ../scss/_markup.scss */
nav a { margin: 32px; font-size: 12px; text-transform: uppercase; color: #000; }

/* line 84, ../scss/_markup.scss */
header { display: flex; align-items: center; justify-content: space-between; padding: 40px 95px; }
/* line 89, ../scss/_markup.scss */
header buttom { text-transform: uppercase; background: #fff; display: block; padding: 8px 6px 6px 5px; border-radius: 100%; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); }
/* line 97, ../scss/_markup.scss */
header img { height: 24px; display: inline-block; vertical-align: -5px; }

/* line 103, ../scss/_markup.scss */
.logo p { font-size: 18px; text-transform: uppercase; color: #F39A4A; display: inline-block; }

/* line 109, ../scss/_markup.scss */
.logo small { font-size: 12px; color: #F39A4A; }

/* line 113, ../scss/_markup.scss */
.orange { color: #F39A4A; font-weight: 600; }

/* line 117, ../scss/_markup.scss */
.no_attention { opacity: .7; }
