$c-or: #F39A4A;
$c-or2: #F69173;
$c-w: #fff;
$c-b:#000;
$c-g:#666666;
//Сброс стандартных стилей браузеров
tml, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
}
html{ height: 101%; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{ display: block; }
ol, ul{ list-style: none; }

blockquote, q{ quotes: none; }
blockquote:before, blockquote:after, q:before, q:after{ content: ''; content: none; }

input{ outline: none; }

table{ border-collapse: collapse; border-spacing: 0; }
img{ border: 0; max-width: 100%; }

canvas{ display: block; vertical-align: bottom; }

a{ text-decoration: none; }
//Сброс стандартных стилей браузеров //
//Настройка шрифтов
body { font-size: 62.5%; line-height: 1; font-family: 'Montserrat', sans-serif; }
strong { font-weight: bold; }
//Настройка шрифтов//
h1, h2{ margin-bottom: 17px; }
h1{
	font-size: 24px;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}
p{
	font-size: 14px;
	font-weight: 300;
	line-height: normal;
	letter-spacing: 0.05em;
	color: $c-g;
}
a{
	&.btn{
		display: inline-block;
		margin-top: 65px;
		padding: 12px 25px;
		font-size: 12px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		border-radius: 50px;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
		transition: .3s;
		color: $c-w;
	}
	&.gradient{
		background: linear-gradient(90deg, $c-or 0%, $c-or2 100%);
	}
}

buttom{
	display: inline-block;
	cursor: pointer;
	&.btn{
		padding: 8px 6px 6px 5px;
		text-transform: uppercase;
		border-radius: 100%;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
		transition: .3s;
		background: $c-w;
	}
}

a:hover, buttom:hover{ box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25); }

header{
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 2;
	img{
		height: 24px;
		display: inline-block;
		vertical-align: -5px;
	}
}

nav{
	a{
		margin: 32px;
		font-size: 12px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		position: relative;
		transition: all .3s;
		color: $c-b;
		&:before {
			content: "";
			width: 0;
			height: 0.2em;
			position: absolute;
			bottom: -2px;
			left: 0;
			transition: 1s;
			background: $c-or;
		}
		&:hover {
			box-shadow: none;
			color: $c-or;
			&:before {
				width: 100%;
				left: 0;
				transition: .3s;
				background: $c-or;
			}
		}
	}
}
.container{
	max-width: 1450px;
	margin: auto;
	padding: 0 90px;
}
.logo p{
	display: inline-block;
	font-size: 18px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: $c-or;
}
.logo small{
	font-size: 12px;
	color: $c-or;
}

.orange{
	font-weight: 600;
	color: $c-or;
}

.no_attention{
	opacity: .7;
}

//ParticleJS
.particle-container{
	width: 100%;
	height: 800px;
	position: absolute;
	top: 0;
	overflow: hidden;
	z-index: 0;
}
.particle-container-size{
	height: 600px;
	width: 1200px;
	border-radius: 100%;
}
.container-in-particle{
	margin: 0;
	display: inline-block;
	position: absolute;
	top: 50px;
	left: 60%;
}
.particle-container-transformed{
	overflow: hidden;
	box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.1);
	transform: rotate(-19.33deg);
	background: #f4f4f4;
}

#particles-js canvas{
	position: absolute;
}
//ParticleJS//

.info-block{
	margin-top: 15%;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.man-img{
	position: absolute;
	top: 25%;
	right: 15%;
	z-index: 2;
}

.left-svg-bg{
	position: absolute;
	left: 0;
	margin-top: 200px;
}

.left-img-svg{
	position: absolute;
	left: 100px;
	margin-top: 260px;
	z-index: 2;
}

.left-svg{
	.info-block{
		margin-left: 33vw;
		margin-top: 450px;
	}
}

.right-svg-bg{
	position: absolute;
	right: 0;
	margin-top: 170px;
}

.right-img-svg{
	position: absolute;
	right: 70px;
	margin-top: 250px;
	z-index: 2;
}

.right-svg{
	.info-block{
		margin-right: 60px;
		margin-top: 350px;
	}
}
.li b{
	margin-right: 10px;
}